doctype 5
html
	head
		title= TrendChatLogin
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src='/javascripts/survey.js')
		script(src='/socket.io/socket.io.js')
		

	body			
		script(src="/javascripts/bootstrap.js")
		h1 Survey Time!
		p Please finished the survey to continue
		#content

